*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
&::-webkit-scrollbar{
  display: none;
}
}

/* navbar */

 .navbar{
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: #F0F4F7;
  position: sticky !important;
  z-index: 1000 !important;
 }
 .container a h4{
  color: #000;
 }
 .container a i{
  color: #ff414d;
 }
 .nav{
  margin-left: 30%;
 }
 .nav ul li a{
  color: #000;
 }
 .nav ul li a:hover{
color: #ff414d;
 }
 .nav button{
  background-color: #ff414d;
  a,i{
  text-decoration: none;
  color: #fff;
}
 }
 .nav button:hover{
  background-color: #c5c4c4;
  a,i{
  color: #000;
}
 }
@media only screen and (max-width: 990px) {
  .nav{
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .nav ul{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left ;
  }
  .nav .button{
    margin-left: -52%;
  }
  .hero .container .row .one{
    margin-left: -0px !important;
    border-radius: 6px !important;
  }
  .hero .container .row .two{
    margin-left: -0px !important;
    border-radius: 6px !important;
  }
  .hero .container .row .three{
    margin-left: 0px !important;
    border-radius: 6px !important;
  }
  .hero .container .row button{
    margin-left: 0px !important;
  }
}

/* hero section */

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/bg_1.jpg.webp');
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-position: top 20% center;
   background-attachment: fixed;
   background-size: cover;
   filter: brightness(0.7);
   z-index: -1
}
.hero{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.hero h1{
  font-size: 50px;
}
.hero .container p{
  color: #d4d1d1;
}
.hero .container .row .one{
  margin-left: 46px;
}
.hero .container .row .two{
margin-left: 20px;
}
.hero .container .row .three{
  margin-left: -15px;
}
.hero .container .row .btn{
  margin-left: -85px;
}
.hero .container .row input::placeholder{
  color: #7f7d7d;
  font-size: 14px;
}

/* category */
.category {
  margin-top: -40px;
  position: relative;
  padding-bottom: 40px;
  /* background-color: #F0F4F7; */
}
.category .container .card i{
  color: #ff414d;
  font-size: 60px;
  margin-left: 32%;

}
.category .container .card .card-body .card-text span{
  position: relative;
  color: #ff414d;
  z-index: 1;
}
.category .container .card .card-body .card-text span::before{
  content: "";
  height: 21px;
  width: 30px;
  margin-top: 1px;
  margin-left: -3px;
  border-radius: 3px;
  background-color: #ece9e9;
  position: absolute;
  z-index: -1;
}
.category .container .card{
transition: 0.4s ease-in-out;
border: none;
margin: 10px;
width: 12rem;
}
.category .container .card:hover{
  background-color: #ff414d;
  i{
    color: #fff;
  }
  .card-body h5,p{
    color: #fff !important;
  }
}
.category .container .card .card-body h5 a{
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

/* call to action section */
.callSection .row .right{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.callSection .row .right .text{
  margin-left: 5%;
}
.callSection .row .right::before{
  content: "";
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  background-image: linear-gradient(120deg, #ff414d 20%, #fa303d 20%,#ff414d 50%, #fa303d 50%,#ff414d 75%, #fa303d 750%,#fa303d 100%);
  width: 100%;
  height: 46.8vh;
   /* background-attachment: fixed; */
   background-size: 25px 31px;
   z-index: -1;
}
.callSection .row .text {
  color: #fff;
}
.callSection .row img{
  height: 280px;
}
@media only screen and (max-width:990px) {
  .callSection .row .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* .callSection .row .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .callSection .row .right .button{
    margin-left: 50px;
  }
}

/* popular listing */
.popularListing .container .row .card{
  border: none;
}
.popularListing .container .row .card img{
  height: 35vh;
}
.popularListing .container .row .card:hover{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  img{
    filter: brightness(0.6);
  }
}
.popularListing .container .row .card i{
  position: relative;
  margin-left: 6.5px;
}
.popularListing .container .row .card .icon{
  margin-left: 42%;
  margin-top: -21px;
  font-size: 26px;
  color: #fff;
  
}
.popularListing .container .row .card .icon::before{
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ff414d;
  border-radius: 50%;
  border: 2px solid #fff;
}
.popularListing .container .row .card .card-body p{
  font-size: 14px;
  color: #ff414d;
}
.popularListing .container .row .card .card-body .review i{
  font-size: 12px;
  color: rgb(255, 174, 0);
}
@media (max-width: 990px) {
  /* .popularListing{
    margin-top: 6rem !important;
    padding-top: 5rem !important;
  } */
}

/* welcome */
.welcome{
  background-color: #fff;
  position: relative;
  /* height: 800px; */
}
.welcome .container .row .right p{
  color: #989797;
  font-size: 15px;
  line-height: 25px;
}
.welcome .container .row .right .button .btn{
  background-color: #f1f3f4;
  height: 140px;
  width: 152px;
  margin-right: 5px;
}
.welcome .container .row .right .button span{
  font-size: 40px;
  color: #000;
}
.welcome .container .row .right .button p{
  color: #ff414d;
  font-size: 14px;
}
.welcome .container .row .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 990px){
  .welcome .container .row .text h5{
    margin-top: 30px;
  }
  .welcome .container .row .right .button .btn{
    width: 100%;
    margin-bottom: 30px;
  }
}

/* testimonial */
.testimonial .container .card{
  border: none;
}
.testimonial .container .card i{
  font-size: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -10px;
}
.testimonial .container .card .eclipse{
  content: "";
  height: 40px;
  width: 40px;
  background-color: #ff414d;
  position: absolute;
 margin-left: 41.3%;
 margin-top: -18px;
 border-radius: 50%;
}
.testimonial .container .card p{
  font-size: 14px;
  color: #3e3c3c;
}
.testimonial .container .card img{
  height: 80px;
  width: 85px;
  border-radius: 50%;
}
.testimonial .container .card .bottom{
  display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.testimonial .container .card .name{
 h5{
  font-size: 23px;
  font-weight: 500;
  color: #000;
 }
 p{
  color: #ff414d;
  font-size: 14px;
 }
}

/* blog */

.blogs .container .row .card{
  border: none;
}
.blogs .container .row .card p{
color: #9e9e9e;
font-size: 14px;
}
 img{
  height: 31vh;
 }
.blogs .container .row .card .text-uppercase{
  font-size: 13px;
  font-weight: 500;
}
.blogs .container .row .card span{
  color: #ff414d;
  margin-left: 5px;
}
.blogs .container .row .card .card-text{
  line-height: 25px;
  h6{
    margin-left: -20px !important;
  }
}
.blogs .container .row .card .comment img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 8px;
}
.blogs .container .row .card .comment{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -58px;
 z-index: 2; 
 width: 96%;
 margin-left: 5px;
 h6{
  font-size: 12px;
  margin-left: 5px;
  margin-top: 7px;
 }
}
.blogs .container .row .card .comment i{
  margin-left: 138px;
  color: #ff414d;
}
.blogs .container .row .card .comment::before{
  content: "";
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: -1;
  border-radius: 6px;
}


/* footer */

footer{
  background-color:#10151C;
  color: #fff;
}
footer p{
  color: #9e9e9e;
  font-size: 14px;
}
footer .container .row .first{
   p{
  line-height: 25px;
}
.icon i{
  font-size: 15px;
  margin-right: 16px;
  color: #ff414d;
}
}
footer .container .row .fourth i{
  color: #ff414d;
  font-size: 15px;
}
footer .container .row .second li, .third li{
  list-style: none;
  color: #9e9e9e;
  font-size: 14px;
  line-height: 30px;
  margin-left: -28px;
}
footer .container .row .second li a, .third li a{
  text-decoration: none;
  color: #9e9e9e;
  /* margin-left: -20px; */
}
footer .container .row .second li a:hover, .third li a:hover{
  color: #7f7d7d;
}


/* about page */

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/bg_3.jpg.webp');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top 30% center;
   background-attachment: fixed;
   background-size: cover;
   filter: brightness(0.7);
   z-index: -1
}
.about-hero{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.about-hero h1{
  font-size: 50px;
}
.about-hero .container p{
  color: #d4d1d1;
}
.work{
  background-color: #fff;
  margin-bottom: 100px;
}
.work .container .card{
  background-color: #F0F4F7;
  border: none;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  h4{
    font-weight: 400;
    font-size: 25px;
  }
}
.work .container .card:hover{
  background-color: #ff414d;
  h4{
    color: #fff;
  }
  p{
    color: #fff;
  }
  .eclipse{
background-color: #fff;
  }
  i{
    color: #ff414d;
  }
}
.work .container .card i{
  font-size: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-left: 15px;
}
.work .container .card .eclipse{
  content: "";
  height: 70px;
  width: 70px;
  background-color: #ff414d;
  position: absolute;
 margin-left: 35.5%;
 margin-top: 15px;
 border-radius: 50%;
}
.work .container .card p{
  font-size: 14px;
  color: #6c6b6b;
}

/* pagination */
.page ul li a{
  color: #000;
}
.page ul li:hover{
  a{
    color: #fff;
    background-color: #fa303d;
  }
}

/* listing page */
/* for search */
.search{
  margin-left: 25px;
}
 .search .one{
  margin-left: 28px;
}
.search .two{
margin-left: 3px;
}
.search .three{
  margin-left: -22px;
}
.search .btn{
  margin-left: -50px;
}
.search input::placeholder{
  color: #7f7d7d;
  font-size: 14px;
}
@media only screen and (max-width:990px){
  .search{
    margin-left: 0px;
  }
  .search .one{
    margin-left: -0px !important;
    border-radius: 6px !important;
  }
  .search .two{
    margin-left: -0px !important;
    border-radius: 6px !important;
  }
  .search .three{
    margin-left: 0px !important;
    border-radius: 6px !important;
  }
  .search  button{
    margin-left: 0px !important;
  }
  
}

/* Contact us page */
.contact-detail .container .row .contact p,input::placeholder,textarea::placeholder{
  font-size: 14px;
  color: #6c6b6b;
}
.contact-detail .container .row .contact span{
  font-size: 14px;
  color: #6c6b6b;
}
.contact-detail .container .row .contact h6{
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.contact-detail .container .row .contact label{
  font-size: 14px;
  color: #000;
}
.contact-detail .container .row .contact input,.contact-detail .container .row .contact textarea{
  border: none;
  border-bottom: 1px solid #c4c0c0;
  background-color: #F0F4F7;
}

/* listing detail page */

.listing-detail .container h2{
  color: #fff; background-color: #ff414d; border-radius: 10px;
}