@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spartan',sans-serif;
  &::-webkit-scrollbar{
    display: none;
   }
}

h1{
  font-size: 50px;
  font-weight: 600;
}

h6{
  font-size: 20px ;
  font-weight: 600;
}

p{
  font-size: 16px;
  color: #465b52;
}

/* navbar */
.nav{
  margin-left: 40%;
}
.navbar{
  font-size: 16px;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  position: sticky !important;
  z-index: 1000 !important;
}
.navbar .container .nav .nav-item{
  position: relative;
}
.navbar .container .nav .nav-item .nav-link{
    /* color: rgb(124, 124, 124); */
color: #000;
    padding: 0 15px;
}
.navbar .container .nav .nav-item .nav-link:hover
/* .navbar .container .nav .nav-item .nav-link.active */
{
  color: #ff414d;
  /* background-position: left; */
}
/* .navbar .container .nav .nav-item .nav-link:hover::before, */
.navbar .container .nav .nav-item .nav-link::before{
  content: "";
  height: 2px;
  width: 50%;
  position: absolute;
  background-color: #ff414d;
  /* background: linear-gradient(to left, #088178 50%, rgb(168, 68, 68) 50%) right;
  background-size: 200%; */
  transition: 0.4s ease-in-out;
  visibility: hidden;
  transform: scale(0);
  bottom: -4px;
  left:16px;
}
.navbar .container .nav .nav-item .nav-link:hover::before{
visibility: visible;
transform: scale(1);
}
.navbar button{
  background-color: #ff414d;
  color: #fff;
}
.navbar .fa-database{
  color: #ff414d;
}
@media only screen and (max-width:990px){
  .nav{
      margin: 10px;
  }
  .nav ul{
      margin: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
  }
 

}


/* hero section */
.hero {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/samuel-charron-yqWOgqmwP0M-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top 8% right 0;
  filter: brightness(0.6) contrast(1);
  z-index: -1;
}

.hero h1, .hero h6 {
  color: #fff;
  position: relative;
  z-index: 1;
}
.hero .row .one{
  margin-left: 5px;
}
.hero .row .two{
  margin-left: -30px;
}
.hero .row .three{
  margin-left: 40px;
}
/* .search-input {
  border-right: 1px solid black; 
  border-radius: 0; 
  margin-left: 40px;
} */
@media only screen and (max-width:990px){
 .hero .row .one{
  margin-left: -0px;
 }
 .hero .row .two{
  margin-left: -0px;
 }
 .hero .row .three{
  margin-left: -0px;
 }
 .hero .row .search-button{
  margin-left: -0px;
 }

}
.search-field input::placeholder{
  color: red;
}
.search-input:last-child {
  border-right: none;
}

.search-button {
  height: 100%;
  width: 100%;
  margin-left: -120px;
  border-radius: 0; 
  background-color: #000;
}

/* category */
.category{
  height: 550px;
  width: 100%;
}
.category {
  margin-top: -80px; 
  position: relative;
  z-index: 2; 
}

/* fade in animation */

.card {
  margin: 20px 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.9s ease;
  /* transition: 0.5s ease; */
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}
.card h6{
  font-size: 18px;
  font-weight: 540;
}

.card:hover{
  background-color: #ff414d;
  color: white;
  .icon{
    color: #fff;
  }
  .card-text{
    color: white;
  }
}
.card .icon{
  color: #ff414d;
}
.card:hover .card-text span::before{
background-color: white;
}
.card-text span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.1); /* Rectangle color and transparency */
  z-index: -1; /* Ensure it is behind the text */
  border-radius: 3px; /* Optional: for rounded corners */
  padding: 2px; /* Optional: space around the text */
}


.card-text span{
  position: relative;
  display: inline-block;
  color: #ff414d;
  margin-right: 8px;
}