@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spartan',sans-serif;
  &::-webkit-scrollbar{
    display: none;
   }
}

h1{
  font-size: 50px;
  font-weight: 600;
}

h6{
  font-size: 20px ;
  font-weight: 600;
}

p{
  font-size: 16px;
  color: #465b52;
}

/* navbar */
.nav{
  margin-left: 40%;
}
.navbar{
  font-size: 16px;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  position: sticky !important;
  z-index: 1000 !important;
}
.navbar .container .nav .nav-item{
  position: relative;
}
.navbar .container .nav .nav-item .nav-link{
    /* color: rgb(124, 124, 124); */
color: #000;
    padding: 0 15px;
}
.navbar .container .nav .nav-item .nav-link:hover
/* .navbar .container .nav .nav-item .nav-link.active */
{
  color: #ff414d;
  /* background-position: left; */
}
/* .navbar .container .nav .nav-item .nav-link:hover::before, */
.navbar .container .nav .nav-item .nav-link::before{
  content: "";
  height: 2px;
  width: 50%;
  position: absolute;
  background-color: #ff414d;
  /* background: linear-gradient(to left, #088178 50%, rgb(168, 68, 68) 50%) right;
  background-size: 200%; */
  transition: 0.4s ease-in-out;
  visibility: hidden;
  transform: scale(0);
  bottom: -4px;
  left:16px;
}
.navbar .container .nav .nav-item .nav-link:hover::before{
visibility: visible;
transform: scale(1);
}
.navbar button{
  background-color: #ff414d;
  color: #fff;
}
.navbar .fa-database{
  color: #ff414d;
}
@media only screen and (max-width:990px){
  .nav{
      margin: 10px;
  }
  .nav ul{
      margin: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
  }
}
.navbar .container .text-end button{
  /* background-color: rgb(24, 117, 141); */
  color: white;
  background: linear-gradient(to left, #ff414d 50%, rgb(205, 209, 211) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
.navbar .container .text-end button:hover{
  /* background-color: rgb(128, 40, 16); */
  color: #000;
  background-position: left;
}

/* hero section */
.hero {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/samuel-charron-yqWOgqmwP0M-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top 8% right 0;
  filter: brightness(0.6) contrast(1);
  z-index: -1;
}
.hero h1{
  font-size: 45px;
  /* position: relative;
  z-index: 1; */
  color: #fff;
}
.hero h6{
  color: #d2d0d0;
}
.hero .row .one{
  margin-left: 5px;
}
.hero .row .two{
  margin-left: -30px;
}
.hero .row .three{
  margin-left: 33px;
}
/* .search-input {
  border-right: 1px solid black; 
  border-radius: 0; 
  margin-left: 40px;
} */
@media only screen and (max-width:990px){
 .hero .row .one{
  margin-left: -0px;
 }
 .hero .row .two{
  margin-left: -0px;
 }
 .hero .row .three{
  margin-left: -0px;
 }
 .hero .row .search-button{
  margin-left: -0px;
 }

}
.search-field input::placeholder{
  color: red;
}
.search-input:last-child {
  border-right: none;
}
.search-input{
  padding: 12px !important;
}

.search-button {
  height: 100%;
  width: 140%;
  margin-left: -120px;
  border-radius: 0; 
  background-color: #000;
}

/* category */
.category {
  margin-top: -80px;
  position: relative;
  z-index: 2;
  padding-bottom: 40px;
}

 .card {
  margin: 20px 10px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.9s ease;
}

 .card.visible {
  opacity: 1;
  transform: translateY(0);
}

.category .card h6 {
  font-size: 18px;
  font-weight: 540;
}

.category .card:hover {
  background-color: #ff414d;
  color: white;
}

.category .card .icon {
  color: #ff414d;
}

.category .card:hover .icon {
  color: #fff;
}

.category .card-text span {
  position: relative;
  display: inline-block;
  color: #ff414d;
}

.category .card:hover .card-text span {
  color: white;
}


/* call to action */
.callSection{
  background-image: url('../images/lauris-rozentals-RyKLUffUhVM-unsplash.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callSection h1,#service h4{
color: white;
}
.callSection span{
  color: rgb(30, 29, 29);
}
.callSection button{
  /* background-color: rgb(24, 117, 141); */
  color: white;
  background: linear-gradient(to left, #ff414d 50%, rgb(205, 209, 211) 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
}
.callSection button:hover{
  /* background-color: rgb(128, 40, 16); */
  color: #000;
  background-position: left;
}

/* popular listing */
.popularListing .card {
  position: relative;
}

.popularListing .card img {
  /* margin-top: 10px; */
  height: 40vh;
  width: 100%;
}

.popularListing .card-body {
  padding-top: 40px;
}

.popularListing .underline {
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
}

.eclipse {
  position: absolute;
  top: 51.9%;
  left: 51%;
  width: 45px;
  height: 45px;
  background-color: #ff414d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media only screen and (max-width:990px){
  .eclipse{
    top: 56%;
  }
  .popularListing .logo{
    top: 276px !important;
  }
 }

.popularListing .logo {
  position: absolute;
  color: #fff;
  top: 227px;
  left: 51%;
  transform: translateX(-50%);
  z-index: 2;
}

.popularListing .card-body h5 {
  font-size: 14px;
  font-weight: 600;
  color: #ff414d;
}

.popularListing .card-body h2 {
  font-size: 22px;
  font-weight: 500;
}

.popularListing .card-body p {
  font-size: 15px;
  color: rgb(168, 162, 162);
}

.popularListing .card-body p i {
  color: #ff414d;
  font-size: 12px;
}

.popularListing .card-body p span {
  color: rgb(216, 156, 27);
}

/* welcome section */
.welcome {
  background-color: #F0F4F7;
  padding: 2rem 0;
  border-radius: 20px;
}

.welcome img {
  object-fit: cover;
  max-height: 75vh;
}

.welcome .text h5 {
  font-size: 1.2rem;
}

.welcome .text h2 {
  font-size: 2rem;
  font-weight: bold;
}

.welcome .button {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.welcome button {
  height: 114px;
  width: 139px;
  background-color: #e5eeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome button:hover{
  background-color: #efa4a9;
}
.welcome .button span {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
}

.welcome .button p {
  color: #ff414d;
  margin: 0;
}

@media (max-width: 992px) {
  .welcome .text {
    text-align: center;
  }
  .welcome .button {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .welcome img {
    max-height: 50vh;
  }
  .welcome h2 {
    font-size: 1.5rem;
  }
}

/* testimonial */
.testimonial-card {
  background-color: #F0F4F7;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.testimonial-card .text p{
  color: #ff414d;
  font-size: 15px;
}
.testimonial-icon {
  font-size: 25px;
  color: #fff;
  background-color: #ff414d;
  width: 3vw;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: 140px;
}
@media only screen and (max-width:990px){
  .testimonial-icon{
    width: 16%;
  }
 }
.testimonial-text {
  margin: 20px 0;
}
.testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.testimonial-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.testimonial-name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 2px;
}

/* blog */
.blog img {
  width: 100%;
  height: 40vh;
}

.blog .card-body p {
  font-size: 14px;
  color: #767373;
}

.blog .card-body h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: -12px;
}

 .card-body span {
  color: #ff414d;
}

.blog .comment-section {
  position: absolute;
  bottom: 175px;
  width: 92%;
  left: 4%;
  right: 4%;
  border-radius: 7px;
  padding: 1px;
  background: rgba(255, 255, 255, 0.8);
}

.blog .comment-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* margin-right: 10px; */
  margin: 3px;
}

.blog .comment-name {
  font-weight:600;
  font-size: 14px;
}

.blog .comment-heart {
  color: #ff414d;
  font-size: 20px;
  cursor: pointer;
  margin-right: 3px;
}

/* footer */
footer {
  background-color: #10151C;
}
footer h2{
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
}
footer p{
  font-size: 14px;
  color: #9a9898;
}
footer .icon{
  font-size: 15px;
  color: #9a9898;
}
 .copyright{
  background-color: #0C1016;
  height: 75px;
  width: 100%;
}
.copyright p{
padding-top: 30px;
color: #9a9898;
}
footer h4{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
footer li{
  list-style: none;
}
footer li a{
  font-size: 12px;
  color: rgb(165, 165, 165);
  text-decoration: none;
  margin-left: -25px;
}
footer li a:hover{
  color: rgb(192, 191, 191);
}
footer i{
  color: #ff414d;
}

/* About Section css */
.about-hero {
  position: relative;
  height: 85.2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.about-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/neom-fYTVHcpak2g-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top 8% right 0;
  filter: brightness(0.7) contrast(1);
  z-index: -1;
}
.about-hero h1{
  font-size: 45px;
  color: #fff;
}
.about-hero h6{
  color: #d2d0d0;
}
